In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("studentdata.csv")
data.head()

,ADMISSION_NO,DEGREE,STUDENT_BRANCH,RELIGION,COMMUNITY,FATHER_OCCUPATION,FATHER_INCOME,FIRST_GEN_LEARNER,COURSE,BOARD,BACKGROUND
0,19/AF/71,B.COM,ACCOUNTING & FINANCE,HINDU,SC,COOLIE,76000.0,YES,COMMERCE,STATE BOARD,Urban
1,19/AF/70,B.COM,ACCOUNTING & FINANCE,HINDU,BC,DRIVER,144000.0,YES,COMMERCE,STATE BOARD,Urban
2,19/AF/69,B.COM,ACCOUNTING & FINANCE,HINDU,MBC,BUSINESS,120000.0,YES,COMMERCE,STATE BOARD,Urban
3,19/AF/68,B.COM,ACCOUNTING & FINANCE,HINDU,MBC,AUTO DRIVER,60000.0,NO,COMMERCE,STATE BOARD,Urban
4,19/AF/67,B.COM,ACCOUNTING & FINANCE,MUSLIM,BCM,BUSINESS,90000.0,NO,COMMERCE,CBSE,Urban

In [4]:
data.columns

Index(['ADMISSION_NO', ' DEGREE', ' STUDENT_BRANCH', 'RELIGION', 'COMMUNITY',
       ' FATHER_OCCUPATION', 'FATHER_INCOME', 'FIRST_GEN_LEARNER', 'COURSE',
       'BOARD', 'BACKGROUND'],
      dtype='object')

In [5]:
data[' STUDENT_BRANCH'] = data[' STUDENT_BRANCH'].replace('ECONOMICS','ENGLISH')
data[' STUDENT_BRANCH'].unique()

array(['ACCOUNTING & FINANCE', 'BUSINESS ADMINISTRATION', 'CHEMISTRY',
       'COMPUTER APPLICATIONS', 'COMPUTER SCIENCE',
       'CORPORATE SECRETARYSHIP', 'ENGLISH', 'GENERAL', 'MATHEMATICS',
       'PHYSICS', 'PSYCHOLOGY'], dtype=object)

In [6]:
data['COURSE']

0                           COMMERCE
1                           COMMERCE
2                           COMMERCE
3                           COMMERCE
4                           COMMERCE
                   ...
625              BIOLOGY/MATHEMATICS
626              BIOLOGY/MATHEMATICS
627              BIOLOGY/MATHEMATICS
628              BIOLOGY/MATHEMATICS
629    BIOLOGY/NUTRITION & DIETETICS
Name: COURSE, Length: 630, dtype: object

In [7]:
data['COURSE'] = data['COURSE'].replace(['MATHS-BIOLOGY','BIOLOGY/MATHS','BIO /  MAT','BIOLOGY-MATHEMATICS', 'BIOLOGY-MATHS','BIOLOGY WITH MATHS','BIO/MAT','BIO-MATHS', 'bio+math','BIOLOGY- MATHEMATICS','BIOLOGY/MATHEMATICS'],'BIO+MATHS')

In [8]:
data['COURSE'] = data['COURSE'].replace(['COMPUTER SCIENCE/MATHEMATICS','MATHS - COMPUTER SCIENCE', 'COMPUTER SCIENCE-MATHS','COMPUTER SCIENCE -MATHS', 'CS / MAT','CS/MAT','MATHS- COMPUTER SCIENCE','MATHS/COMPUTER SCIENCE','MATHS-COMPUTER SCIENCE', 'MATHS -COMPUTER SCIENCE', 'CS-MATHS', 'MAT/CS','CS/MAT','MATHS - COMPUTER SCIENCE','COMPUTER SCIENCE'] , 'COMP SCI+MATHS')

In [9]:
data['COURSE'] = data['COURSE'].replace(['COMMERCE/ACCOUNTANCY','ACC / CS','COMMERCE / COMPUTER SCIENCE','COMPUTER SCIENCE-COMMERCE', 'COMMERCE - COMPUTER SCIENCE', 'COMMERCE COMPUTER SCIENCE' 'COMMERCE- COMPUTER SCIENCE','COMMERCE-COMPUTER SCIENCE', 'ACCOUNTANCY-COMPUTRE SCIENCE','ACCOUNTANCY-COMPUTER', 'COMMERCE', 'ACCOUNTS-COMPUTER SCIENCE','COMMERCE/COMPUTER SCIENCE','ACCOUNTS - COMPUTER SCIENCE', 'MATHS - COMPUTER SCIENCE','ACCOUNTS/COMPUTER SCIENCE','commerce', 'COMMERCE COMPUTER SCIENCE', 'COMMERCE- COMPUTER SCIENCE','COMMERCE-ACCOUNTANCY', 'COMPUTER SCIENCE WITH ACCOUNTANCY', 'COMPUTER WITH ACCOUNTANCY', 'ACCOUNTANCY-COMPUTER SCIENCE'], 'COMMERCE+COMP')

In [10]:
data['COURSE'] = data['COURSE'].replace(['ACC/BUS MAT','ACCOUNTANCY/BUSINESS MATHS', 'ACC/BUS MATHS', 'ACCOUNTS-BUSINESS MATHS', 'ACCOUNTS- BUSINESS MATHS','ACC/BUSINESS MATHS', 'BUSINESS STUDIES', 'COMMERCE-BUSINESS MATHS', 'ACCOUNTS-BUSINESS STUDIES', 'BUSINESS MATHS-COMMERCE','ACCOUTNS-BUSINESS MATHS','COMMERCE -BUSINESS MATHS', 'ACCOUNTS - BUSINESS MATHS','COMMERCE/BUSINESS MATHS','BUSINESS-COMMERCE'], 'ACCS+BUS MATH')

In [18]:
data['COURSE'] = data['COURSE'].replace(['BIOLOGY','PURE SCIENCE','BOTANY-ZOOLOGY','BIOLOGY-HOME SCIENCE','BIOLOGY  ','SCIENCE','BOTANY/ZOOLOGY','BIOLOGY/NUTRITION & DIETETICS','PURESCIENCE'], 'PURE SCIENCE')
data['COURSE'] = data['COURSE'].replace(['ACCOUNTS-COMMUNICATIVE ENGLISH','BMAT', 'ACCOUNTS-HISTORY', 'ACCOUNTS-TYPEWRITING','nan','HISTORY','ACCOUNTS/HISTROY'], 'OTHERS')
data['COURSE']= data['COURSE'].replace(['BIO/CS','BIOLOGY-COMPUTER SCIENCE','BIOLOGY/COMPUTER SCIENCE'],'BIO+COMP')
data['COURSE']

0      COMMERCE+COMP
1      COMMERCE+COMP
2      COMMERCE+COMP
3      COMMERCE+COMP
4      COMMERCE+COMP
           ...
625        BIO+MATHS
626        BIO+MATHS
627        BIO+MATHS
628        BIO+MATHS
629     PURE SCIENCE
Name: COURSE, Length: 630, dtype: object

In [21]:
data['RELIGION'] = data['RELIGION'].replace(['HINDU','hindu','hindu vanniyar','Hindu','HINHU','HINDI'], 'Hindu')
data['RELIGION'] = data['RELIGION'].replace(['MUSLIM', 'muslim', 'ISLAM'], 'Muslim')
data['RELIGION'] = data['RELIGION'].replace(['CHRISTIAN', 'christian','ROMAN CATHOLIC', 'ANGLO INDIAN', 'CATHOLIC','CHIRISTIAN', 'R.C.CHRISTIAN', 'Christian', 'CHRISTIANITY'], 'Christian')
data['RELIGION']

,ADMISSION_NO,DEGREE,STUDENT_BRANCH,RELIGION,COMMUNITY,FATHER_OCCUPATION,FATHER_INCOME,FIRST_GEN_LEARNER,COURSE,BOARD,BACKGROUND
0,19/AF/71,B.COM,ACCOUNTING & FINANCE,Hindu,SC,COOLIE,76000.0,YES,COMMERCE+COMP,STATE BOARD,Urban
1,19/AF/70,B.COM,ACCOUNTING & FINANCE,Hindu,BC,DRIVER,144000.0,YES,COMMERCE+COMP,STATE BOARD,Urban
2,19/AF/69,B.COM,ACCOUNTING & FINANCE,Hindu,MBC,BUSINESS,120000.0,YES,COMMERCE+COMP,STATE BOARD,Urban
3,19/AF/68,B.COM,ACCOUNTING & FINANCE,Hindu,MBC,AUTO DRIVER,60000.0,NO,COMMERCE+COMP,STATE BOARD,Urban
4,19/AF/67,B.COM,ACCOUNTING & FINANCE,Muslim,BCM,BUSINESS,90000.0,NO,COMMERCE+COMP,CBSE,Urban
...,...,...,...,...,...,...,...,...,...,...,...
625,19/PSY/22,B.SC,PSYCHOLOGY,Muslim,BC-M,BUSINESS,240000.0,No,BIO+MATHS,CBSE,Urban
626,19/PSY/23,B.SC,PSYCHOLOGY,Muslim,BC-M,LABOUR,72000.0,Yes,BIO+MATHS,STATE BOARD,Urban
627,19/PSY/37,B.SC,PSYCHOLOGY,Hindu,OBC,BUSINESS,240000.0,No,BIO+MATHS,CBSE,Urban
628,19/PSY/43,B.SC,PSYCHOLOGY,Hindu,MBC,CHENNAI CO - OPERATION,96000.0,Yes,BIO+MATHS,STATE BOARD,Urban
629,19/PSY/06,B.SC,PSYCHOLOGY,Christian,BC,MUSICIAN,140000.0,No,PURE SCIENCE,STATE BOARD,Urban

In [29]:
data['COMMUNITY'].replace('BCM','BC-M', inplace= True)
data['COMMUNITY'].replace('BCC','BC-C', inplace= True)
data['COMMUNITY'].replace(['BCA','BC(A)'],'BC-A', inplace= True)
data['COMMUNITY'].replace('Sc','SC', inplace= True)
data['COMMUNITY']

0        SC
1        BC
2       MBC
3       MBC
4      BC-M
       ...
625    BC-M
626    BC-M
627     OBC
628     MBC
629      BC
Name: COMMUNITY, Length: 630, dtype: object

In [38]:
#data.columns
data['BACKGROUND'].replace(['MATHUR','Semi - Urban'], 'Semi-urban',inplace= True)
data['BACKGROUND'].replace(['urban','URBAN'],'Urban', inplace=True)
data['BACKGROUND'].unique()

data['BOARD'].replace(['stateboard','state board','HSC','STATE BOAD', 'STATE BOARS'], 'STATE BOARD', inplace= True)
data['BOARD'].replace(['a mole on the neck', '-','BLANK'], '0', inplace= True)
data['BOARD'].replace(['CENTRAL BOARD', 'CBSC'], 'CBSE', inplace= True)
data['BOARD'].replace(' icse board ','ICSE', inplace= True)
data

,ADMISSION_NO,DEGREE,STUDENT_BRANCH,RELIGION,COMMUNITY,FATHER_OCCUPATION,FATHER_INCOME,FIRST_GEN_LEARNER,COURSE,BOARD,BACKGROUND
0,19/AF/71,B.COM,ACCOUNTING & FINANCE,Hindu,SC,COOLIE,76000.0,YES,COMMERCE+COMP,STATE BOARD,Urban
1,19/AF/70,B.COM,ACCOUNTING & FINANCE,Hindu,BC,DRIVER,144000.0,YES,COMMERCE+COMP,STATE BOARD,Urban
2,19/AF/69,B.COM,ACCOUNTING & FINANCE,Hindu,MBC,BUSINESS,120000.0,YES,COMMERCE+COMP,STATE BOARD,Urban
3,19/AF/68,B.COM,ACCOUNTING & FINANCE,Hindu,MBC,AUTO DRIVER,60000.0,NO,COMMERCE+COMP,STATE BOARD,Urban
4,19/AF/67,B.COM,ACCOUNTING & FINANCE,Muslim,BC-M,BUSINESS,90000.0,NO,COMMERCE+COMP,CBSE,Urban
...,...,...,...,...,...,...,...,...,...,...,...
625,19/PSY/22,B.SC,PSYCHOLOGY,Muslim,BC-M,BUSINESS,240000.0,No,BIO+MATHS,CBSE,Urban
626,19/PSY/23,B.SC,PSYCHOLOGY,Muslim,BC-M,LABOUR,72000.0,Yes,BIO+MATHS,STATE BOARD,Urban
627,19/PSY/37,B.SC,PSYCHOLOGY,Hindu,OBC,BUSINESS,240000.0,No,BIO+MATHS,CBSE,Urban
628,19/PSY/43,B.SC,PSYCHOLOGY,Hindu,MBC,CHENNAI CO - OPERATION,96000.0,Yes,BIO+MATHS,STATE BOARD,Urban
629,19/PSY/06,B.SC,PSYCHOLOGY,Christian,BC,MUSICIAN,140000.0,No,PURE SCIENCE,STATE BOARD,Urban

In [45]:
data.to_excel('cleandata.xlsx')
#data.drop (columns=' FATHER_OCCUPATION', inplace= True)
#data

,ADMISSION_NO,DEGREE,STUDENT_BRANCH,RELIGION,COMMUNITY,FATHER_INCOME,FIRST_GEN_LEARNER,COURSE,BOARD,BACKGROUND
0,19/AF/71,B.COM,ACCOUNTING & FINANCE,Hindu,SC,76000.0,YES,COMMERCE+COMP,STATE BOARD,Urban
1,19/AF/70,B.COM,ACCOUNTING & FINANCE,Hindu,BC,144000.0,YES,COMMERCE+COMP,STATE BOARD,Urban
2,19/AF/69,B.COM,ACCOUNTING & FINANCE,Hindu,MBC,120000.0,YES,COMMERCE+COMP,STATE BOARD,Urban
3,19/AF/68,B.COM,ACCOUNTING & FINANCE,Hindu,MBC,60000.0,NO,COMMERCE+COMP,STATE BOARD,Urban
4,19/AF/67,B.COM,ACCOUNTING & FINANCE,Muslim,BC-M,90000.0,NO,COMMERCE+COMP,CBSE,Urban
...,...,...,...,...,...,...,...,...,...,...
625,19/PSY/22,B.SC,PSYCHOLOGY,Muslim,BC-M,240000.0,No,BIO+MATHS,CBSE,Urban
626,19/PSY/23,B.SC,PSYCHOLOGY,Muslim,BC-M,72000.0,Yes,BIO+MATHS,STATE BOARD,Urban
627,19/PSY/37,B.SC,PSYCHOLOGY,Hindu,OBC,240000.0,No,BIO+MATHS,CBSE,Urban
628,19/PSY/43,B.SC,PSYCHOLOGY,Hindu,MBC,96000.0,Yes,BIO+MATHS,STATE BOARD,Urban
629,19/PSY/06,B.SC,PSYCHOLOGY,Christian,BC,140000.0,No,PURE SCIENCE,STATE BOARD,Urban